.sec-5{
    background-image: url("../assets/footer.png");
    background-size: 100% 100%;
    width: 100%;
    height: 410px;
}
.footter-div{
    
}
.footer-text{
   font-weight: 700;
   font-size: 60px;
   text-align: center;
   line-height: 81.72px;
   padding-top: 133px;
   width: 1000px;
   height: 300px;
   
}